# Python bytecode
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# .env files (for storing secrets)
.env

# IDE configurations
.vscode/
.idea/

*docker-compose.yml

AuthService/alembic/
ManageUserService/alembic/
